aiobotocore==0.5.2
aiohttp==2.3.9
async-timeout==2.0.0
botocore==1.7.40
chardet==3.0.4
docutils==0.14
idna==2.6
jmespath==0.9.3
multidict==4.0.0
packaging==16.8
pynamodb==3.2.1
pyparsing==2.2.0
python-dateutil==2.6.1
six==1.11.0
wrapt==1.10.11
yarl==1.1.0
requests==2.18.4